html,
body {
    background-color: #333333;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.board {
    background-color: white;
    margin: 5vh auto;
    align-self: center;
    border-spacing: 0;
}

.cell {
    height: 10vh;
    width: 10vh;
    min-width: 10vh;
    max-width: 10vh;

    border: none;
    outline: 1px solid transparent;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;

    transition: outline 0.2s,
        background-color 0.2s;
}

.cell.odd {
    background-color: #ffcc99;
}

.cell.even {
    background-color: white;
}

.cell.selected {
    background-color: #abf7a8;
}

.piece {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}
