html,
body {
    background-color: #333333;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.board {
    margin: 5vh auto;
    align-self: center;
    border-spacing: 0;
}

tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

.cell {
    height: 10vh;
    width: 10vh;
    min-width: 10vh;
    max-width: 10vh;

    border: 0px solid transparent;
    outline: 1px solid transparent;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    user-select: none;

    transition: outline 0.1s,
        background-color 0.1s,
        border-color 0.1s;
}

.cell.odd {
    background-color: #dec2a2;
}

.cell.even {
    background-color: #f5f2e9;
}

.cell.selected {
    background-color: #cff0bd;
}

.cell:hover {
    border: 7.5px solid #dedede;
    height: calc(10vh - 15px);
    width: calc(10vh - 15px);
    min-width: calc(10vh - 15px);
    max-width: calc(10vh - 15px);
}

.piece {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}